<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>715410032123-2bdmp8e7q76e6toqsjka1kfqrmarjj07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715410032123-2bdmp8e7q76e6toqsjka1kfqrmarjj07</string>
	<key>API_KEY</key>
	<string>AIzaSyB9TsuMGfikvpE1mtzi5F-9ejiPOtOi7_w</string>
	<key>GCM_SENDER_ID</key>
	<string>715410032123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juzzibar.ios</string>
	<key>PROJECT_ID</key>
	<string>juzzibar</string>
	<key>STORAGE_BUCKET</key>
	<string>juzzibar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:715410032123:ios:c8ece2cc4c6af2a2</string>
	<key>DATABASE_URL</key>
	<string>https://juzzibar.firebaseio.com</string>
</dict>
</plist>